* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.enterstock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    width: 100%;
}

.clock {
    font-size: 1.3em;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.symbol {
    font-size: 2em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(240, 240, 240);
}

.title {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 4;
    background: purple;
}

.symfields {
    height: 30px;
    width: 70%;
    margin-top: 10px;
    background: black;
    border: solid white 2px;
    color: white;
}

.stockings {
    grid-column: 2 / 4;
    padding:  15px 50px;
}

.stocked {
    text-align: center;
    text-transform: uppercase;
    background: black;
    padding: 5px 0px;
    margin: 10px 0px;
    color: white;
    animation: 0.3s ease-in-out all ;
    animation-name: fadeLeft;
}

.symbol {
    font-size: 6em;
    background: purple;
}
.named {
    grid-column: 2 / 4;
    text-align: center;
    align-items: center;
    animation: 0.3s ease-in-out all ;
    animation-name: fade;

}

.name {
    font-size: 3.5em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: purple;
}


@keyframes fade {
    0%{opacity: 0; transform: translateY(20px);}
    100%{opacity: 1; transform: translateY(0px)}
}

@keyframes fadeLeft {
    0%{opacity: 0; transform: translateX(20px);}
    100%{opacity: 1; transform: translateX(0px)}
}